.SectionComponent {
  margin-top: 10px;
}

.HeaderTextSection {
  margin-bottom: 30px;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.conatctForm {
  background-color: rgba(223, 223, 223, 0.8);
  padding: 5%;
  color: rgb(19, 19, 19);
  -webkit-box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}
